.container-about{
    background: #121214 !important;
    height: 60vh;
    width: 100%;
    display: flex;
    position:relative;
    margin-top: -2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border-bottom: 5px solid #b2121e;
    overflow-x: hidden;
}

.title-about{
    color: #FFF;
    font-family: "Kanit-Bold"; 
    font-family: 14px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    padding: 15px;

@media (min-width: 45em) {
    font-size:26px;
    font-size:26px;
  }
}
    




.buy-kick-content{
    width: 60%;
    margin: 15px auto;
}


.title-about span{
    color: #b2121e;
    letter-spacing: 2px;
    margin-left: 5px;
  

    
    
}

.text-about{
    font-family: "Kanit-Light";
    font-size: 14px;
    color: #FFF;
    letter-spacing: 1px;
    text-align: center;
    
}
