:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #202024;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}
body{
  overflow-x: hidden;
}
img {
  border-radius: 4px;
}

a{
  text-decoration: none !important;
}

@font-face {
  font-family: "Kanit-Bold";
  src: url('../src/assets/Kanit/Kanit-Bold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Kanit-Black";
  src: url('../src/assets/Kanit/Kanit-Black.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Kanit-Light";
  src: url('../src/assets/Kanit/Kanit-Light.ttf');
  font-weight: normal;
}
/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: #121214;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
 
 

}

.search-resul{
  color: #FFF !important;
}

aside::placeholder{
  color: #FFF;
  font-family: 'Kanit-Light';
}
aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;

}

aside header h3 {
  margin: 0;
  color: #FFF;
}



aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
  color: #D9040B;
}

aside header .close:hover {
  opacity: 1;
}
aside input{
  background: #121214;
  width: 100%;
  border: 1px solid #FFF !important; 
  color: #FFF;
}
aside button{
  display: none;
}
aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;

  
}

aside main {

  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
  font-family: 'Kanit-Light';
  color: #FFF !important;
}

aside p:last-child {
  margin: 0;
  font-family: 'Kanit-Light';
  color: #FFF !important;
}

aside li {
  margin-bottom: 0.125rem;
  font-family: 'Kanit-Light';
  color: #FFF !important;
  
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
  color: #FFF !important;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}





/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: #121214;
  margin-top: 30px;
  padding: 60px;
  text-align: center;

}

.footer-content{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 45em) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    
  }
}
.links{}
.line{
 width: 100%;
 height: 43px;
 object-fit: cover;
 margin-bottom: -34px;
}

.midia-content{
  margin: 20px;
  @media (min-width: 45em) {
    margin: 60px;

  }
}

.logo-content img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.links{
  margin: 60px;
  text-align: right;

}
.links ul li a{
  color: #FFF;
  text-decoration: none;
  font-family: 'Kanit-Bold';
  font-size: 16px;
  margin-top: 15px;
}

.links ul li a:hover{
  color: #D9040B;
  transition: 1.2s;
  padding-left: 1px;
}



.title-footer{
  font-family: 'Kanit-Bold';
  font-size: 22px;
  color:#FFF
}

.midia-content p{
  color: #FFF;
  font-family: 'Kanit-Light';
  font-family: 14px;
  margin-top: 15px;
}
.midia-content p span{
 
  font-family: 'Kanit-Bold';
 
}
.midia-content img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 10px;
  


}

.footer-menu-missing {
  display: inline-block;
  margin: 1rem;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}
.search{
  border: 1px solid #121214;
}
/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/

.home{
  width: 100%;
}
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}
.cart-line img{

  display: block;
  margin-right: 0.75rem;
  @media (min-width: 45em) {
    

  }

}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantiy {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
  font-family: 'Kanit-Bold';
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
  font-family: 'Kanit-Bold';
  font-family: 14px;
}

.btn-search{
 background-color: #121214;
  border: 1px solid #121214;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.recommended-products{}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/

.banner-content img{
  width: 90%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto; 
 
}

.title{
  font-family: 'Kanit-Bold';
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  width: 100%;
  height: 367px;
  object-fit: contain;
}
.recommended-products-grid{
  display: grid;
  grid-gap: 1.5rem;
  

  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
  }

}

.banner-promo{
    display: flex;
    position: relative;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    
  
}

.banner-promo img{
      margin: 30px;
      width: 380px;
      @media (min-width: 45em) {
        width:80%;
    
    }

}
.recommended-products{
  padding: 30px;
  width: 80%;
  margin: 0 auto;

  margin-bottom: 60px 0;
 

  @media (min-width: 30em) and (max-width: 50em) {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
  
    
    
    
  }
 
}





.text-product{
  font-size: 26px;
  font-family: 'Kanit-Bold';
  text-align: left;

 
}

.recommended-products{
  align-self: center;
  border: 1px solid #121214;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
 
  
}

.products-grid{}
.recommended-product .img-prod {
  width: 192px;
  height:192px;
  object-fit: cover;

  @media (min-width: 45em) {
    width: 250px;
    height: 250px;
    object-fit: cover;
   

  }
}


.recommended-product .img-prod:hover{

}
.recommended-product .title-product{
  font-family: 'Kanit-Bold';
  font-size: 18px;
}

.recommended-product .price-product{
  font-family: 'Kanit-Black';
  font-size: 16px;
}
.title-sneaker{
  font-family: 'Kanit-Bold';
  font-family: 22px;
  margin: 60px;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  width: 80%;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}


.products-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
    

  }
}

.product-list .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.product-all-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  @media (min-width:45em) {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   justify-content: center;


  }
}


.product-container{
  display: flex;
  flex-direction: column;
  @media (min-width:45em) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;

  }
  
}

.right-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 0 auto;

  
  @media (min-width:35em){
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }
  




}

.product-item {
  width: 250px;
  height: 100%;
}


.product-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
 
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
 
  }
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;

}
.home{}
.product-image img {
  height: auto;
  width: 100%;
}



.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}


.card-partner{}

.container-about{
  background-color: #121214;
}

.line-scrool{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.parallax{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;

  @media (min-width: 45em) {
    margin: 0 8rem;
    overflow-x: hidden;

  }

}

.partner-section{
  margin: 15px;
  overflow-x: hidden;
}

@keyframes slide {
  from{
    transform: translateX(0);


  }
  to{
    transform: translateX(-100%);

  }
  
}


.parallax img{
  animation: 11s slide infinite linear;
  height: 53px;
  object-fit: cover;
}

.button-banner-campain{
  background-color: red;
}




.partner-cards{
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card-partner img{
  width: 160px;
  height: 160px;
  object-fit: contain;
  animation: 14s slide infinite linear;
  margin: 30px;

}

.caroucel-content{
  width:100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}


.btn-slide{
  height: 100%;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-slide i{
  font-size: 35px;
  columns: #121214;
}
.slide-post{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  

  @media (min-width: 45em) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x:scroll;

  }


}

.post-card{
  width: 272px;
  height: 272px;
  margin: 20px;
}

.content-acessories{
  margin-top: 60px;
  margin-bottom: 60px;
}
.caroucel-acessories{
  width:100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 

}

.caroucel-acessories .sneaker-title{
  font-family: "Kanit-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.08em;
  color: #202021;
}


.post-card:hover{
  cursor: pointer;
  transform: translateY(-5px);
  transition: all 0.4s ease;
  box-shadow: rgba(12, 12, 14, 0.12) 0px 25px 85px;

}

.form-container{
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.form-control{
  width: 324px;
  height: 31px;
}

.news-btn{
  width: 100%;
  margin-top: 15px;
  height: 53px;
  background-color: #D9040B;
  font-family: 'Kanit-Bold';
  font-size: 16px;
  color: #FFF;
  border: none;
  border-radius: 7px;
}

.product-content{
 
 
  
  @media (min-width: 45em) {
    display: flex;
    flex-direction: row;
  }
}

.left{
  width: 30%;
  margin: 30px;
}

.right{
 
  margin: 30px;
  

}

.product-grid{

  display: flex;
  flex-direction: column;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    flex-direction: row;
    display: flex;
  }
}
.content-products {

}
.product-card{
  width: 250px;
  height: 374px;
  text-decoration: none !important;
  
}

.price-product{
  color: #121214;
  font-family: 'Kanit-Bold';
  display: flex;
  text-align: end;  
  margin-top: 15px;
}
.product-card .img-prod{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.banner-content-allproducts{
  background-color: #121214;

}
.banner-content{
  margin-top: -6rem;

  @media (min-width: 45em) {
    margin: 0 0 30px 0;


   }


}
.white-part{
  position: absolute;
  background-color: #FFF;
  width: 100%;
  height: 30%;
  border-bottom: 4px solid #D9040B;


}
.bannerImg-content{
  display: flex;
  position: relative;



}

.bannerImg-content img{
  width: 80%;
  height: 336px;
  display: flex;
  margin: 30px auto;
  object-fit: cover;

  @media (min-width: 45em) {
    width: 80%;
    height: 348.18px;
   

   }
}
.bannerImg-content{
  display: flex;
  flex-direction: column;
}


.bannerImg-content a{
  margin-left: 50px;
  color: #FFF;
 
  @media (min-width: 45em) {
    margin-left: 5.5rem;
  
  }
}
.input-search{
  background:none;
  width: 250px;
  border: 1px solid #FFF;
  @media (min-width: 45em) {
  
  }
}

.products-grid{}

.price-product{}


.product-item-card{ 
  
}

.search{
  display: flex;
  flex-direction: column;
}

.banner-content{}

.sec-payment{
  margin-top: -15rem;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-products{
  display: flex;
  justify-content: space-between;
  margin: 60px;
}


.left-side{

}

.right-side{
  display: flex;
  background-color: red;

}


.div-card-content{
  display: grid;
  justify-content: space-aroundce;
  flex-direction: row;
}


.content-collection-grids{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner-content-promo{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;

}

.img-content img{
  width: 100%;
  height: 367px;
  object-fit: cover;

}


.collection-filter-container {
  cursor: pointer;
  margin: 30px;
  
}


.collection-filter-container ul{
  font-size: 16px;
  margin-top: 15px;
  font-family: 'Kanit-Light';

}
.collection-filter-container > ul{
  display: none;
  cursor: pointer;
  padding: 0 10px ;
}

.collection-filter-container.show > ul{
  display: block;
}

.toggle-item-filter{
  background-color: #202024;
  width:267px ;
  height:42px ;
  color: #FFF;
  align-items: center;
  display: flex;
  padding:10px;
  font-family: 'Kanit-Bold';
  font-size: 16px;
  justify-content: space-between;
}






.container-recomend{  
  align-items: center;
  justify-content: center;
  display: flex;
  overflow-y: hidden;

}

.recomend-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 45em) {
    width: 80%;
    flex-direction: row;
  }



}

.lado-A div{

  width: 350px;
  height: 300px;
  margin: 30px;
}

.lado-B{

  width: 350px;
  height: 600px;

}

.container-recomend .img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recomend-content  .img2{
     width: 100%;
    height: 100%;
    object-fit: cover;

}

.banner-promo{}


.player{
  display: none;
}

.player i{
  color:#d9040b

}


.box .image-player img{
  height:100%;
  width:100%;
  

}

.player span{
  display:none !important;
}

.player .play{

}

.icont-seach{
  color: #FFF;
  font-size: 22px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu-mobile-toggle img{
  width:22px;
  height: 22px;
  object-fit: contain;

}




.product-title{
  color: red;
}

.toast{
  background-color: red;
}


.account-reset{
  width: 89%;

  @media (min-width: 45em) {
    width: 80%;
    flex-direction: row;
  }
}

.line-scrool{

}