.cart-details{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 60px;
}

.cart-line-item{
    display: flex;
    
    width: 703px;
    height: 295px;
    border: 1px solid #121214;
    object-fit: cover;
    display: flex;
    align-items: center;

    
}

.cart-line-item .img-cart{
    width: 250px;
    height: 250px;
    margin: 15px;
    
}

.title-item-cart{
    font-family: 'Kanit-Bold';
    font-size: 16px;
    color: #121214;
}

.btn-checkout-cart{
    background-color: #121214;
    color: #FFF;
    width: 331px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;


}

.cart-sumary-content{
    margin-left:  15px;
}