.product-collection-content{
    display: flex;
    flex-direction: row;
    margin: 0 auto;

   


}



.card-container{
    display: flex;
    flex-direction: column;
    @media (min-width: 45em) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
      
        
    }
    
    

}

.toggle-item-filter{
    width: 100%;
    @media (min-width: 45em) {
        width: 350px;
        margin-top: 10px;
      
        
    }

}

.title-prod{
    font-family: 'Kanit-Bold';
    font-size: 20px;
    margin-top: 15px;
    margin-left: -3px;

}

.price{
    font-family: 'Kanit-Bold';
    font-size: 20px;
    margin-top: 15px;
    margin-left: -3px;

}

.card-item-prod{
    margin-bottom: 60px;
  
    cursor: pointer;
    @media (min-width: 45em) {
        margin: 10px;
      
        
    }
 

}

.img-prod{
    width: 350px;
    height: auto;
    margin-bottom: 1rem;
    object-fit: cover;
}

.card-title{

}

.description-content{
    font-family: 'Kanit-Light';
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-left: -3px;
}

.load{
  background-color: #D9040B;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kanit-Light ';
  margin: 60px auto;
  width: 250px;
  height: 43px;
}

.filter-content ul li{
    width: 100%;
    font-size: 16px;
    height: 30px;
}
.filter-content ul li a:hover{
    color: #D9040B;
    transition: 1.2s;
    padding-left: 1px;
  }
  
 
  /* selected link */


