.product-collection-content{
    display: flex;
    flex-direction: row;
    margin: 0 auto;

   


}

.card-container{
    display: flex;
    flex-direction: column;
    @media (min-width: 45em) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        
    }
    
    

}

.title-prod, .price{
    font-family: 'Kanit-Bold';
    font-size: 20px;
    margin-top: 15px;
}

.card-item-prod{
    margin-bottom: 60px;
    margin-left: 20px;
    cursor: pointer;
 

}

.img-prod{
    width: 350px;
    height: auto;
    margin-bottom: 1rem;
    object-fit: cover;
}

.card-title{

}

.description-content{
    font-family: 'Kanit-Light';
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}