.payment-container-section{
    background:#121214;
    border-top: 4px solid #EF233C;
    border-bottom:4px solid #EF233C; 
    display: flex;
    margin-top: 60px;
    justify-content: center;
 
}

.details-payment-content{
    display: flex;
    align-items: center;
    flex-direction: column;
  

    @media (min-width: 45em) {
        flex-direction: row;
        justify-content: space-around;
        width: 100%
      }
}

.text-desc-service{
    width: 547px;
    
   
}

.extra-title{
    padding: 30px;
    text-transform: uppercase;
    font-family: "Kanit-Bold";
    font-style: normal;
    font-size:28px;
    line-height: 132.48%;
    color: #FFF;
    letter-spacing: 0.08em;

    @media (min-width: 45em) {
        text-transform: uppercase;
        font-family: "Kanit-Bold";
        font-style: normal;
        font-size:38px;
        line-height: 132.48%;
        color: #FFF;
        letter-spacing: 0.08em;
        margin-top: 60px;

      }

  

}

.extra-title span{
    color: #d9040b;
    
   
}
.extra-selo{
    margin-top: 20px;
    align-items: center;
    justify-content: flex-end;
    display:flex;


}
.extra-selo img{
  

    display: flex;
    margin-top: -55rem;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 156px;
    height: 156px;
    object-fit: cover;
   
    
    @media (min-width: 45em) {
        flex-direction: row;
        margin-top: -15rem;
        position: relative;
        display: flex;
        top: -10%;
        width: 420px;
        height: 420px;
        object-fit: cover;
      
        

      }

   
}

.text-desc-service{
    color: #FFF;
    font-size: 14px;
    font-family: 'Kanit-Light';
    margin-bottom: 60px;
    padding: 30px;
    @media (min-width: 45em) {
        font-size: 14px;
        font-family: 'Kanit-Light';
        margin-bottom: 60px;
      
        

      }
}


.soon-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -80px;
    padding: 30px;
    overflow-y: hidden;

  

}

.soon-title{
    font-size: 14px;
    font-family: 'Kanit-Bold';
    color: #d9040b;
    padding: 15px;
}