.payment-container-section{
    background-color: #121214;
    border-bottom: 5px solid #D9040B;
    border-top: 5px solid #D9040B;
    margin-top: 35px;
    width: 100%;
}

.details-payment-content{
    display: flex;
    flex-direction: column-reverse;
    @media (min-width: 45em) {
        display: flex;
        margin: 60px;
        justify-content: space-between;
        flex-direction: row;
      }

}
.text-content{
  margin-left: 30px;
  padding: 30px;
}

.extra-title{
    color: #FFF;
}

.extra-title span{
    color: #D9040B;
}

.text-desc-service{
    color: #FFF;
    width: 80%;
}

.extra-selo{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    @media (min-width: 45em) {
        width: 250px;
        margin-top:-1rem;   
    }
    

}

.extra-selo img{
    width: 150px;
    margin-top:-5.5rem;

    @media (min-width: 45em) {
        width: 250px;
        margin-top:-12.5rem;   
    }
}

.soon-content{
    color: #D9040B;
    margin-top: -30px;
    display: flex;
    justify-content: space-around;   
    font-family: 'Kanit-Bold'; 
}