
/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
    align-items: center;
    background: #202024;
    display: flex;
    height:80px;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
    @media (min-width: 48em) {
    
      padding: 0 3rem;
    }
    
  }
  
  .header .logo{
    width:120px;
    height: 67px;
    object-fit: cover;
    @media (min-width: 48em) {
      width: 198px;
    height: 67px;
    }

  
  }
  
  .header-menu-mobile-toggle {
    color: #FFF !important;
    font-size: 20px;
    @media (min-width: 48em) {
      display: none;
    }
  }
  
  .header-menu-mobile {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    color: #FFF;
    justify-content: space-between;
    
  }
  
  
  .header-menu-desktop {
    display: none;
    grid-gap: 1rem;
    @media (min-width: 45em) {
      display: flex;
      grid-gap: 1rem;
      margin: 0 auto;
  
  
    }
  }
  
  .img-mobile-banner{
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 260px;
    object-fit: cover;
  }
  
  
  
  .header-menu-item {
    cursor: pointer;
    margin-left: 30px !important;
    color: #D9040B !important;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize !important;
      font-weight: 600 !important;
      transition: all 0.3s ease !important;
      font-family: "Kanit-Light" !important;
    @media (min-width: 45em) {
      color: #FFF !important;
    }
  }
  
  .header-ctas {
    align-items: center;
    display: flex;
    grid-gap: 1rem;
    margin-left: auto;
  }
  

  
  .icon-user{
    width: 22px;
    height: 22px;
    margin-left: 10px;
    object-fit: cover;
    float: right;
    @media (min-width: 48em) {
      display: block;
      width: 24px;
      height: 24px;
      object-fit: cover;
  }
  
  }
  
  .cart-icon{
    float: right;
    width: 22px;
    height: 22px;
    object-fit: contain;
    color: #FFF !important; 

    @media (min-width: 48em) {
      display: block;
      width: 24px;
      height: 24px;
      object-fit: cover;
  }
  
  }

.cart-desk{
  display: none;

  @media (min-width: 48em) {
    display: block;
    
}
}
  .cart-counter{
    color: #D9040B !important; 
    display: none;
  
    @media (min-width: 48em) {
      display: flex;
      background-color: #D9040B;
      border-radius: 10px;
      position: absolute;
      align-items: center;
      justify-content: center;
      width: 10px;
      height: 10px;
      font-size: 7px;
      bottom: 23px;
      margin-left: -3px;
  
      
  
     
     
  
  }
  
  }

.header-menu-item:hover{
    padding-left: 2px;
    zoom: 1;
    transition: .6s;
    color:#D9040B !important;
}
.icont-seach{
  display: flex;
  float: right;
}


.title-search{
  color: #FFF;
}