.product-handle-content{ 
  display: flex;
  margin: 0 auto;
  flex-direction: column;
   @media (min-width: 45em) {
    width: 80%;
    margin: 0 auto;
    display: flex;
   }

}

.product-options{
  margin: 0 auto;
  width: 280px;
  @media (min-width: 45em) {
     margin: 0;
  }
  



}


    
.product-price{
  margin-left: 20px;
  font-family: 'Kanit-Bold';
}

.product-image{
      margin: 20px;
      width: 90%;
     @media (min-width: 45em) {
      width: 578px;
      height: 578px;
      object-fit: contain;
    }
   

}

.secundary-images-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
.img-secundary{
  display: flex;
  justify-content: space-between;


}
.img{
    width: 578px;
    height: 578px;
    object-fit: cover;

 
}


.img-secundary{
  width: 170px !important;
  height: 170px !important;
  object-fit:cover;

  @media (min-width: 45em) {
    width: 274px !important;
    height: 274px !important;
    object-fit: contain;
   }
    
}
.btn-add{
    background-color: #202024;
    color: #FFF;
    font-family: 'Kanit-Bold';
    font-size: 16px;
    width: 90%;
    height: 43px;
    border-radius: 7px;
    align-self: start;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    margin: 0 auto !important;
    @media (min-width: 45em) {
      width: 100%;
  }  
}

.variante-content{
    width: 324px;
   
}


.title-product{
    font-family: 'Kanit-Bold';
    font-size: 22px;
    margin-left: 20px;


}

.desc-detail{
    font-family: 'Kanit-Light';
    font-size: 14px;
    margin-left: 20px;
}

.description{
  font-family: 'Kanit-Light';
  font-size: 14px;
  width: 350px;

  margin-left:-20px;

  @media (min-width: 45em) {
    width: 489px;
    margin: 0;
    margin-top: 30px;
  
  }

}

.product-card{
    width: 250px;
    height: 374px;
    text-decoration: none !important; 
  }
  .price{
    color: #121214;
    font-family: 'Kanit-Bold';
    margin-left: -5px;
    @media (min-width: 45em) {
      margin-left: -5px;

   }
    
  }
  
  .product-card .img-prod{
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  
  .related-products-on-sale{
    border: 1px solid #121214;
    width: 80%;
    margin: 60px auto;
    @media (min-width: 45em) {
      margin: 0 auto;
   }
  }
  

  .title-product{
    color: #121214;
    font-family: 'Kanit-Bold';
    font-size: 22px;
    margin-left:-20px ;
    @media (min-width: 45em) {
      margin: 0;
   }

  }

  .pa-btn{
    background:none !important;
    width: 90%;
    height: 43px;
    border: 1px solid #121214;
    border-radius: 7px;
    font-family: 'Kanit-Bold';
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    @media (min-width: 45em) {
      margin-top: 10px;
      width: 74%;
   }

   


  }

 

  .product-main{
    width: 80%;
    margin: 0 auto;
    @media (min-width: 45em) {
      margin: 0;
   }
  }


  .sec{
    color: #CCC;
    font-family: 'Kanit-Light';
    display: flex;
    align-items: center;
    margin-top: 5px;
    letter-spacing: 1px;

  }


